<div class="h2 text-center text-secondary mt-3">
    Šventinių dienų pildymas
  </div>

  <div class="card bg-secondary mt-1">
    <div class="card-header">
      <h3 class="cardTitle card-title text-light font-italic">
        Įvęskite šventinę dieną
      </h3>
      <!-- <button class="close" >&times;</button> -->
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="d-flex flex-column col-3">
              <label class="btn text-light row" for="diena">Švetinė diena
              </label>
              <input
                class="btn btn-light row"
                [(ngModel)]="holiday.name"
                name="diena"
                id="diena"
              />
            </div>
            <div class="d-flex flex-column col-3">
              <label class="btn text-light row" for="country"> Šalis
              </label>
              <select class="btn btn-light dropdown-toggle row"  id="country" name="country" [(ngModel)]="defaultCountry">
                <option *ngFor="let coun of countries" [ngValue]="coun" name="startselect">{{ coun.name }}</option>
              </select>
            </div>
            <div class="d-flex flex-column col-3">
              <label class="btn text-light row" for="data">Data
              </label>
              <input
                type="date"
                class="btn btn-light row"
                [(ngModel)]="date"
                name="data"
                id="data"
              />
            </div>
            <div class="input-group-append col-2 flex-column align-self-end">
              <button
                class="btn btn-outline-warning row"
                id="loginBtn"
                type="submit"
                (click)="sendHoliday()"
              >
                Įvęsti
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="holidays.length > 0">
    <div class="card bg-secondary mt-1">
      <div class="card-header">
        <h3 class="cardTitle card-title text-light font-italic">
          Ęsamos Šventės
        </h3>
        <div class="card-body text-light">
          <li *ngFor="let cr of holidays">{{ cr.name }}</li>
        </div>
      </div>
    </div>
  </div>
