<div class="h2 text-center text-secondary mt-3">
  Darbo praleidimo priežąsčių pildymas
</div>

<form role="form" (submit)='enterCause(logf)' #logf = 'ngForm'>
    <div class="card bg-secondary mt-1">
      <div class="card-header">
        <h3 class="cardTitle card-title text-light font-italic">Įvęskite priežąstį</h3>
        <!-- <button class="close" >&times;</button> -->
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="input-group">
                <div class="imput-group-prepend">
                    <span class="input-group-text cardHeading text-secondary h5" for="cause">Priežąstis</span>
                </div>
                <input
                  type="text"
                  placeholder="Priežąstis"
                  class=" inputBack form-control"
                  id="causeid"
                  [(ngModel)]="cause"
                  name="cause"
                  />
                  <div class="input-group-append">
                      <button class="btn btn-outline-warning item-hl mx-4 "
                      id="loginBtn"
                      type="submit"
                      >
                       Įvęsti
                     </button>
                  </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </form>
  
