 <div class="container">

  <div class="h2 text-center text-secondary mt-3">
    Darbo praleidimo priežąsčių pildymas
  </div>

  <div class="card bg-secondary ">
    <div class="card-header">
      <h3 class="cardTitle card-title text-light font-italic">
        Įvęskite priežąstį
      </h3>
      <!-- <button class="close" >&times;</button> -->
    </div>
    <div class="card-body">
      <div class="input-group">
        <div class="d-flex flex-column col-9">
          <label class="btn text-light row" for="causeid">Priežąstis
          </label>
          <input
            type="text"
            class="btn btn-light row"
            [(ngModel)]="cause.cause"
            name="cause"
            id="causeid"
          />
        </div>
        <div class="d-flex flex-column col-3">
          <label class="btn text-light row" for="causecod">Kodas(Maks 2 simboliai)
          </label>
          <input
            type="text"
            class="btn btn-light row"
            [(ngModel)]="cause.cod"
            name="causecod"
            id="causecod"
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-row">
          <button
            class="btn btn-outline-warning ml-auto"
            id="submitbtn"
            (click)="sendCause()"
          >
            Įvęsti
          </button>
        </div>
    </div>
  </div>
 </div>
<div class="container" *ngIf="causes.length > 0">
  <div class="card bg-secondary mt-1">
    <div class="card-header">
      <h3 class="cardTitle card-title text-light font-italic">Ęsamos priežastys</h3>
      <div class="card-body text-light">
        <ul>
        <li *ngFor="let cc of causes">{{cc.cause}} {{cc.cod}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
