body{
    background-color: rgb(238, 240, 242);
    line-height: .9;

}

divided {
    height: 50vh;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.textxsm{
    font-size: x-small !Important;
}

.textxs{
    font-size: smaller  !Important;;
}

.textsm{
    font-size: small  !Important;;
}
