body{
    background-color: #c2c2c2;
}

divided {
    height: 50vh;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
