<div class="backdrop">
  <div class="alert-box">
    <div class="list-group mb-2">
      <label class="text-primary" for="userlist"
        >Pakeisti dienos duomenis šiems vartotojams</label
      >
      <ul class="row text-light">
        <li class="col-4" *ngFor="let worker of workers">
          {{ worker.firstName }}
        </li>
      </ul>
    </div>
    <div class="my-4">
        <div class="btn-group col-4">
          <select
            class="btn btn-secondary dropdown-toggle"
            type="button"
          >
            <span>Pakeisti priežąstį</span>
                <option class="dropdown-item" *ngFor="let caus of causes">{{ caus.cause }}</option>
        </select>
        </div>
        <div class="btn-group col-4">
          <select
            class="btn btn-secondary dropdown-toggle"
            type="button"
          >
            <span>Pakeisti darbo pradžios laiką</span>

                <option *ngFor="let times of times">{{ times }}</option>

        </select>
        </div>
        <div class="btn-group col-4">
          <select
            class="btn btn-secondary dropdown-toggle"
            type="button"
          >
            <span>Pakeisti darbo pabaigos laiką</span>

                <option *ngFor="let times of times">{{ times }}</option>

        </select>
        </div>
    </div>
    <div class="d-flex row-hl">
      <button class="ml-auto btn btn-warning item-hl" (click)="onClick()">
        Pakeisti
      </button>
    </div>
  </div>
</div>
