<div class="h2 text-center text-secondary mt-3 container">
  Šalių pildymas
</div>
<div class=" container">
   <p  class="blockquote">Įvedamos šalys kuriose yra įmonės skyrių ir jiems bus pildoma apskaita</p>
</div>

<div class="card bg-secondary mt-1 container">
  <div class="card-header">
    <h3 class="cardTitle card-title text-light font-italic">
      Įvęskite šalį
    </h3>
    <!-- <button class="close" >&times;</button> -->
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="imput-group-prepend">
            <span
              class="input-group-text cardHeading text-secondary h5"
              for="cause"
              >Šalis:</span
            >
          </div>
          <input
            type="text"
            placeholder="Šalis"
            class="inputBack form-control"
            id="causeid"
            [(ngModel)]="country.name"
            name="cause"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-warning item-hl px-4"
              id="loginBtn"
              type="submit"
              (click)="sendCause()"
            >
              Įvęsti
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="coutries.length > 0">
  <div class="card bg-secondary mt-1 container">
    <div class="card-header">
      <h3 class="cardTitle card-title text-light font-italic">
        Įvęstos šalys
      </h3>
      <div class="card-body text-light">
        <li *ngFor="let cr of coutries">{{ cr }}</li>
      </div>
    </div>
  </div>
</div>
